<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    {{ partial "nav.html" . }}
    {{ partial "hero.html" . }}

    {{ if .Site.Params.overview.enable }}
      {{ partial "services.html" . }}
    {{ end }}

    {{ if .Site.Params.portfolio.enable }}
      {{ partial "portfolio.html" . }}
    {{ end }}

    {{ if .Site.Params.section3.enable }}
      {{ partial "section3.html" . }}
    {{ end }}

    {{ if .Site.Params.section4.enable }}
      {{ partial "section4.html" . }}
    {{ end }}

    {{ if .Site.Params.about.enable }}
      {{ partial "about.html" . }}
    {{ end }}

    {{ if .Site.Params.team.enable }}
      {{ partial "team.html" . }}
    {{ end }}

    {{ if .Site.Params.clients_list.enable }}
      {{ partial "clients.html" . }}
    {{ end }}

    {{ if .Site.Params.contact.enable }}
      {{ partial "contact.html" . }}
    {{ end }}

    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}

    {{ if .Site.Params.portfolio.enable }}
      {{ partial "modals.html" . }}
    {{ end }}

    {{ partial "js.html" . }}
  </body>
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '173003320299817');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1"
         src="https://www.facebook.com/tr?id=173003320299817&ev=PageView
&noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->
</html>
